<launch>
  <arg name="rviz" default="true"/>

  <!-- Carregar a descricao do robo a partir do URDF -->
  <param name="robot_description" command="$(find xacro)/xacro $(find martha_description)/urdf/martha.xacro"/>
  
  <include file="$(find martha_gazebo)/launch/gazebo_init.launch">
    <arg name="world_name" value="world.world"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!--<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>-->
  
  <!-- Spawn do modelo do robo no Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model martha -x 0 -y 0 -z 0.284275 -R 0 -P 0 -Y 0"/>

  <!-- Incluir os controladores de juntas -->
  <include file="$(find martha_gazebo)/launch/controller.launch"/>

  <!-- Iniciar o RViz com configuracao predefinida para visualizacao do robo--> 
  <group if="$(arg rviz)">
    <include file="$(find martha_gazebo)/launch/rviz.launch"/>
  </group>
 
</launch>
